.recaptcha-style{
    width: 250px;
    height: 40px;
    border: 1px solid rgb(193, 193, 193);
    margin: 10px 25px;
    padding: 0;
    resize: none;
    display: none;
}

.recaptcha-container {
    transform: scale(1);
    transform-origin: top left;
    width: 100%;
    height: auto;
}

.size-captcha{
    width: 304px;
    height: 78px;
}

@media (max-width: 768px) {
    .recaptcha-style {
        width: 100px;
        height: 35px;
        margin: 8px 15px;
    }

    .recaptcha-container {
        transform: scale(0.85);
    }


}